<%- include('header') %>

<form class="" action="/items/:itemId" method="POST">
  <div class="deliver"> 
    <div class="form-group row">
      <label for="Name" class="col-sm-1 col-form-label">Name </label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="name" name="name" value="<%= name %>">
      </div>
    </div>
    <div class="form-group row">
      <label for="ID" class="col-sm-1 col-form-label" >ID  </label>
      <div class="col-sm-10">
        <input type="text"  readonly class="form-control-plaintext" id="id" name="id" value="<%= id %>">
      </div>
    </div>
    <div class="form-group row">
        <label for="Balance" class="col-sm-1 col-form-label">Balance </label>
        <div class="col-sm-10">
            <input type="text"  readonly class="form-control-plaintext" id="balance" name="balance" value="<%= balance %>">
        </div>
    </div>
  </div>
  <br>
  <div class="deliver">
  <h4 style="text-decoration: underline;">TRANSFER MONEY TO :</h4>
  <br>
  <div class="form-group row">
    <label for="Recipient" class="col-sm-2 col-form-label">Recipient's Name :</label>
    <select id="Recipient" name="Recipient">
        <option value="none" selected="selected"> -- choose one --</option>
        <%  details.forEach(function(item){ %>
            <option value="<%= item.name %>"><%= item.name %></option>
        <% }); %>
        </select>
    </div>
    <div class="form-group row">
        <label for="Amount" class="col-sm-2 col-form-label">Amount :</label>
        <input type="number" min="1" name="Amount" class="col-sm-2">
    </div>
    <button type="submit"  name="submit">Transfer</button>
</form>
</div>



<%- include('footer') %>
